In [1]:
import pandas as pd

In [4]:
content_df = pd.read_csv('./data/meta_allvid_clean.csv', encoding='utf-8')
content_df.head()

,genre,description,title,starring,rank,movie_id,english
0,Movies,Barefoot Contessa Volume 2: On these three dis...,"Barefoot Contessa (with Ina Garten), Entertain...",Ina Garten,342914.0,0000143588,1
1,Movies,"Giada de Laurentis on ""Everyday Italian"" DVDs,...","Everyday Italian (with Giada de Laurentiis), V...",Various Artists,409173.0,0000143561,1
2,Christian Video Bible,Steve Green: Hide 'em in Your Heart: 13 Bible ...,Steve Green: Hide 'em in Your Heart: 13 Bible ...,Steve Green,282599.0,0001526863,1
3,Christian Video,An early movie edition of the life of Jesus.,Where Jesus Walked VHS,Various Artists,1108385.0,0005000009,1
4,Movies,VHS,The Homecoming Kids Camp Out VHS,Various Artists,390381.0,0005059836,1

In [5]:
content_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95076 entries, 0 to 95075
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   genre        94610 non-null  object
 1   description  86140 non-null  object
 2   title        95061 non-null  object
 3   starring     95076 non-null  object
 4   rank         94687 non-null  float64
 5   movie_id     95076 non-null  object
 6   english      95076 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 5.1+ MB

In [6]:
content_df.drop_duplicates(subset= 'movie_id', inplace=True)
content_df.dropna(subset='genre', inplace=True)
content_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94610 entries, 0 to 95075
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   genre        94610 non-null  object
 1   description  85721 non-null  object
 2   title        94595 non-null  object
 3   starring     94610 non-null  object
 4   rank         94224 non-null  float64
 5   movie_id     94610 non-null  object
 6   english      94610 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 5.8+ MB

In [29]:
content_df['movie_id'].nunique()

94610

In [81]:
content_df[content_df['genre'] == 'Classical']

,genre,description,title,starring,rank,movie_id,english
139,Classical,This traditional production of Puccini's endur...,"Puccini - Madama Butterfly / Arena, Kabaivansk...",Nazzareno Antinori,820349.0,0769721036,1
140,Classical,Kiri Te Kanawa is featured in this glittering ...,"Johann Strauss - Die Fledermaus / Domingo, Te ...",Kiri Te Kanawa,416551.0,0769720307,1
659,Classical,NaN,"Janacek - Kat'a Kabanova / Davis, Gustafson, P...",Barry McCauley,740429.0,1561270369,1
660,Classical,NaN,Tchaikovsky The Queen of Spades VHS,Yuri Marusin,760993.0,1561270563,1
696,Classical,Great Courses on DVD. The Life and Music of Li...,Great Masters: Liszt - His Life and Music (The...,Various Artists,301022.0,156585683X,1
...,...,...,...,...,...,...,...
94762,Classical,Gardens have always been a source of inspirati...,Exhibition on Screen: Painting the Modern Gard...,Various Artists,106623.0,B01G3MV35O,1
94808,Classical,Gioachino Rossinis one act opera Linganno Feli...,Rossini: L'inganno felice,Tommaso Dionis,220270.0,B01GF7CRX4,1
94961,Classical,NTSC/Region 0. Episodes 5-8 in the documentary...,Welcome to My World Episodes 5-8,Various Artists,49492.0,B01H10EJ4O,1
94996,Classical,NaN,Beethoven: The Violin Sonatas,Various Artists,72106.0,B01H4G22SA,1
94998,Classical,"<div class=""aplus""> Seventy years after its Gl...",The Rape of Lucretia,Fiona Shaw,148257.0,B01H5BOID6,1

In [37]:
content_df['genre'].value_counts().head(55)

genre
Movies                                                 10775
Drama                                                   8553
Documentary                                             7503
Action & Adventure                                      6900
Comedy                                                  6431
Kids & Family                                           4531
Special Interests                                       3137
Sony Pictures Home Entertainment                        2965
Warner Home Video                                       2835
Horror                                                  2298
Science Fiction & Fantasy Science Fiction Animation     2047
Sports                                                  1967
TV                                                      1936
All Lionsgate Titles                                    1848
Classical                                               1667
Science Fiction & Fantasy Fantasy                       1567
Music Videos & Concerts                                 1476
Anime & Manga                                           1271
Musicals                                                1268
A&E Home Video All A&E Titles                           1084
All Fox Titles                                          1064
MGM Home Entertainment All MGM Titles                   1001
MOD CreateSpace Video                                    925
BBC                                                      920
All Universal Studios Titles                             917
Mystery & Thrillers                                      840
Foreign Films                                            796
Anime                                                    644
Westerns                                                 615
DTS                                                      604
Christmas                                                600
HBO                                                      528
Action                                                   505
Fox TV                                                   483
All Disney Titles                                        451
Ballet & Dance                                           415
Romance                                                  362
Classics Silent Films                                    362
Art House & International                                350
Science Fiction                                          322
Faith & Spirituality                                     290
Classics                                                 286
Special Editions                                         275
Science Fiction & Fantasy Science Fiction Classics       259
Television                                               258
Art House & International United Kingdom                 250
Miramax Home Entertainment                               248
Animation                                                234
Military & War                                           193
3-6 Years                                                166
Art House & International German                         161
Criterion Collection                                     158
LGBT                                                     157
Educational                                              151
Science Fiction & Fantasy Science Fiction                144
Name: count, dtype: int64

In [28]:
total = 10775 + 7503 + 3137 + 2965 + 2835 + 1936 + 1848 + 1667 + 1084 + 1064 + 1001 + 925 + 3000
total

39740

In [103]:
df = content_df.copy()


main_genres = ['Drama','Comedy','Documentary',
               'Action','Adventure','Kids',
               'Horror','Science Fiction','Fantasy',
               'Animation','Anime','Musicals',
               'Mystery','Thriller','Sports',
               'Foreign','Christmas','Art House',
               'Westerns', 'Music','Romance',
               'Faith & Spirituality', 'LGBT', 'Silent',
               'Art House', 'Military', 'Educational',
               'Years', 'Classical'
              ]
df = df[df['genre'].str.contains('|'.join(main_genres))]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57798 entries, 8 to 95075
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   genre        57798 non-null  object
 1   description  53901 non-null  object
 2   title        57790 non-null  object
 3   starring     57798 non-null  object
 4   rank         57718 non-null  float64
 5   movie_id     57798 non-null  object
 6   english      57798 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 3.5+ MB

In [104]:
#df['genre'].value_counts().head(55)

In [105]:
df['genre'] = df['genre'].str.replace('.*Science Fiction & Fantasy.*', 'Science Fiction & Fantasy', regex=True)
#df['genre'].value_counts().head(55)

In [106]:
df['genre'] = df['genre'].str.replace('.*Sci-Fi & Fantasy.*', 'Science Fiction & Fantasy', regex=True)
#df['genre'].value_counts().head(55)

In [107]:
df['genre'] = df['genre'].str.replace('.*Art House.*', 'Art House & International', regex=True)
#df['genre'].value_counts().head(55)

In [108]:
df['genre'] = df['genre'].str.replace('.*Anime.*', 'Animation', regex=True)
#df['genre'].value_counts().head(55)

In [109]:
df['genre'] = df['genre'].str.replace('.*Action & Adventure.*', 'Action & Adventure', regex=True)
#df['genre'].value_counts().head(55)

In [110]:
df['genre'] = df['genre'].str.replace('.*Christmas.*', 'Christmas', regex=True)
#df['genre'].value_counts().head(55)

In [111]:
df['genre'] = df['genre'].str.replace('.*Drama.*', 'Drama', regex=True)
#df['genre'].value_counts().head(55)

In [112]:
df['genre'] = df['genre'].str.replace('.*Musicals.*', 'Musicals', regex=True)
#df['genre'].value_counts().head(55)

In [113]:
df['genre'] = df['genre'].str.replace('.*Silent Films.*', 'Silent Films', regex=True)
#df['genre'].value_counts().head(55)

In [114]:
df['genre'] = df['genre'].str.replace('.*Horror.*', 'Horror', regex=True)
#df['genre'].value_counts().head(55)

In [115]:
df['genre'] = df['genre'].str.replace('.*Comedy.*', 'Comedy', regex=True)
#df['genre'].value_counts().head(55)

In [116]:
df['genre'] = df['genre'].str.replace('.*Documentary.*', 'Documentary', regex=True)
#df['genre'].value_counts().head(55)

In [117]:
df['genre'] = df['genre'].str.replace('.*Years.*', 'Kids & Family', regex=True)
#df['genre'].value_counts()

In [118]:
df['genre'] = df['genre'].str.replace('.*Kids & Family.*', 'Kids & Family', regex=True)
#df['genre'].value_counts()

In [119]:
df['genre'] = df['genre'].str.replace('.*Animation Feature Films.*', 'Animation', regex=True)

In [120]:
df['genre'].value_counts().head(55)

genre
Drama                                                                    8673
Documentary                                                              7516
Action & Adventure                                                       6969
Comedy                                                                   6594
Kids & Family                                                            4851
Science Fiction & Fantasy                                                4576
Horror                                                                   2366
Animation                                                                2159
Art House & International                                                1986
Sports                                                                   1967
Classical                                                                1667
Music Videos & Concerts                                                  1476
Musicals                                                                 1277
Mystery & Thrillers                                                       840
Foreign Films                                                             796
Christmas                                                                 778
Westerns                                                                  615
Action                                                                    505
Silent Films                                                              379
Romance                                                                   362
Science Fiction                                                           322
Faith & Spirituality                                                      290
Military & War                                                            193
LGBT                                                                      157
Educational                                                               151
Mystery & Suspense                                                        130
Fantasy                                                                    87
Music Video & Concerts                                                     22
Christian Video Music                                                       9
Disney Home Video Live Action                                               9
Roxy Music                                                                  8
Warner Home Video Warner Video Bargains Westerns                            6
Docurama Music & Performing Arts                                            6
Sony Pictures Home Entertainment Sony Pictures Classics Action              5
Miramax Home Entertainment Foreign Spotlight                                5
Live Action                                                                 4
Characters & Series Scooby Doo Scooby Doo Live Action Movies                4
Docurama Sports                                                             4
Animation By Animator Mamoru Oshii                                          4
Animation Computer Animation                                                4
Hong Kong Action                                                            3
Docurama Military & War                                                     3
Warner Home Video Warner Video Bargains Science Fiction                     3
Docurama LGBT                                                               3
Disney Home Video Live Action Adventures                                    2
Widescreen Westerns                                                         2
Animation Stop-Motion & Clay Animation                                      2
Sony Pictures Home Entertainment Sony Pictures Classics Dance & Music       2
Discovery Channel Channels Military Channel                                 1
Discovery Channel Subjects War & Military                                   1
Animation By Animator Bruno Bozzetto                                        1
Live Action Adventures                                                      1
Widescreen Mystery & Suspense                                               1
Mini-DVD Animation                                                          1
Name: count, dtype: int64

In [121]:
df_genre = df[df['genre'].isin(df['genre'].value_counts()[df['genre'].value_counts() >= 10].index)]
df_genre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57704 entries, 8 to 95075
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   genre        57704 non-null  object
 1   description  53816 non-null  object
 2   title        57696 non-null  object
 3   starring     57704 non-null  object
 4   rank         57624 non-null  float64
 5   movie_id     57704 non-null  object
 6   english      57704 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 3.5+ MB

In [122]:
df_genre.to_csv('./data/content_genres_cleaned.csv', encoding='utf-8', index=False)

In [125]:
df_desc = df_genre.copy()
df_desc.drop(columns=['title', 'starring', 'rank', 'english', 'genre'], inplace=True)
df_desc.drop_duplicates(subset='description', inplace=True)
df_desc.dropna(inplace=True)
df_desc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52741 entries, 11 to 95075
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  52741 non-null  object
 1   movie_id     52741 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [130]:
df_desc = df_desc[df_desc['description'].str.len() >= 250]
df_desc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43146 entries, 11 to 95075
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  43146 non-null  object
 1   movie_id     43146 non-null  object
dtypes: object(2)
memory usage: 1011.2+ KB

In [131]:
df_desc.to_csv('./data/movie_descriptions.csv', encoding='utf-8', index=False)

___

In [132]:
df_col = pd.read_csv('./data/review_allvid_clean.csv')
collab_df = df_col[df_col['user_id'].isin(df_col['user_id'].value_counts()[df_col['user_id'].value_counts() >= 5].index)]
collab_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2174134 entries, 9 to 6224032
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   rating    int64
 1   user_id   object
 2   movie_id  object
 3   reviews   object
dtypes: int64(1), object(3)
memory usage: 82.9+ MB

In [133]:
collab_df['movie_id'].nunique()

97765

In [134]:
df_revs = collab_df.groupby('movie_id')['reviews'].agg(' '.join).reset_index()
df_revs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97765 entries, 0 to 97764
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  97765 non-null  object
 1   reviews   97765 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [136]:
rev_ids = df_genre['movie_id'].unique().tolist()
df_revs = df_revs[df_revs['movie_id'].isin(rev_ids)]

,rating,user_id,movie_id,genre,description,title,starring
0,5,A3JVF9Y53BEOGC,000503860X,Movies,NaN,Chapter X Live [VHS],Various Artists
1,5,A12VPEOEZS1KTC,000503860X,Movies,NaN,Chapter X Live [VHS],Various Artists
2,5,ATLZNVLYKP9AZ,000503860X,Movies,NaN,Chapter X Live [VHS],Various Artists
3,5,A3TNYNA2360NPA,000503860X,Movies,NaN,Chapter X Live [VHS],Various Artists
4,5,A2PANT8U0OJNT4,0005419263,Christian Video Bible,Bible verses are fun to learn and easy to reme...,Steve Green: Hide 'em in Your Heart Volume 2: ...,Various Artists

In [138]:
model_df = pd.read_csv('./data/collab_model_df.csv', encoding='utf-8')
rev_ids2 = model_df['movie_id'].unique().tolist()
df_revs = df_revs[df_revs['movie_id'].isin(rev_ids2)]
df_revs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57537 entries, 9 to 97764
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  57537 non-null  object
 1   reviews   57537 non-null  object
dtypes: object(2)
memory usage: 1.3+ MB

In [139]:
df_revs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57537 entries, 9 to 97764
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  57537 non-null  object
 1   reviews   57537 non-null  object
dtypes: object(2)
memory usage: 1.3+ MB

In [140]:
df_revs.to_csv('./data/movie_reviewtext.csv', encoding='utf-8', index=False)