In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('../data/meta_content.csv', converters={'category': eval, 'also_buy': eval, 'feature': eval,'also_view': eval, 'details': eval})
df1.head()

,category,description,title,also_buy,brand,feature,rank,also_view,asin,details
0,"[Movies & TV, Movies]",NaN,Understanding Seizures and Epilepsy,[],NaN,[],"886,503 in Movies & TV (",[],0000695009,{}
1,"[Movies & TV, Movies]",NaN,Spirit Led&mdash;Moving By Grace In The Holy S...,[],NaN,[],"342,688 in Movies & TV (",[],0000791156,{}
2,"[Movies & TV, Movies]",Disc 1: Flour Power (Scones; Shortcakes; South...,My Fair Pastry (Good Eats Vol. 9),[],Alton Brown,[],"370,026 in Movies & TV (",[],0000143529,{}
3,"[Movies & TV, Movies]",Barefoot Contessa Volume 2: On these three dis...,"Barefoot Contessa (with Ina Garten), Entertain...","[B002I5GNW4, B005WXPVMM, B009UY3W8O, B00N27ID1...",Ina Garten,[],"342,914 in Movies & TV (","[B002I5GNW4, 0804187045, B009UY3W8O, 060960219...",0000143588,{}
4,"[Movies & TV, Movies]",Rise and Swine (Good Eats Vol. 7) includes bon...,Rise and Swine (Good Eats Vol. 7),"[B000P1CKES, B000NR4CRM]",Alton Brown,[],"351,684 in Movies & TV (",[B0015SVNXY],0000143502,{}

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181839 entries, 0 to 181838
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   category     181839 non-null  object
 1   description  156721 non-null  object
 2   title        181781 non-null  object
 3   also_buy     181839 non-null  object
 4   brand        120867 non-null  object
 5   feature      181839 non-null  object
 6   rank         181839 non-null  object
 7   also_view    181839 non-null  object
 8   asin         181839 non-null  object
 9   details      181839 non-null  object
dtypes: object(10)
memory usage: 13.9+ MB

In [5]:
df = df1.copy()

In [6]:
df_all = pd.read_csv('../data/review_allvid_clean.csv')
df_all.head()

,rating,user_id,movie_id,reviews
0,5,A2VHSG6TZHU1OB,0001527665,Having lived in West New Guinea (Papua) during...
1,5,A1KM9FNEJ8Q171,0001527665,"More than anything, I've been challenged to fi..."
2,4,A38LY2SSHVHRYB,0001527665,This is a great movie for a missionary going i...
3,5,AHTYUW2H1276L,0001527665,This movie was in ENGLISH....it was a great su...
4,5,A3M3HCZLXW0YLF,0001527665,"This is a fascinating true story, well acted b..."

In [8]:
df_prime = pd.read_csv('./data/reviews_streaming.csv')
df_prime.head()

,overall,reviewTime,reviewerID,asin,reviewText,summary,vote
0,5,"10 24, 2017",A235CSFIMYI5JK,B00SU1DDVY,I love this movie. This man was awesome. Super...,I love this movie,0.0
1,5,"05 15, 2017",A1H41LX36UOWYA,B00SU1DDVY,I love this movie. I first saw it on Netflix ...,Movie,0.0
2,5,"04 3, 2017",A1TSMQSMIREU02,B00SU1DDVY,This movie was a great adventure despite havin...,Five Stars,0.0
3,5,"08 15, 2016",A2K62IHNYD9CBR,B00SU1DDVY,Must have watched five times by now,Five Stars,0.0
4,5,"05 27, 2016",AOGNYFSGIZGT4,B00SU1DDVY,Absolutely astounding and moving. Shows how ba...,and tactics of the free and better than the ri...,0.0

In [6]:
df_amvid = pd.read_csv('./data/reviews_amstream.csv')
df_amvid.head()

,overall,reviewTime,reviewerID,asin,reviewText,summary,vote
0,5,"02 18, 2013",A2VHSG6TZHU1OB,0001527665,Having lived in West New Guinea (Papua) during...,Realistic and Accurate,3.0
1,5,"01 10, 2013",A1KM9FNEJ8Q171,0001527665,"More than anything, I've been challenged to fi...",Culturally relevant ways to share the love of ...,0.0
2,4,"12 26, 2012",A38LY2SSHVHRYB,0001527665,This is a great movie for a missionary going i...,Good Movie! Great for cross-cultural missionar...,0.0
3,5,"11 16, 2012",AHTYUW2H1276L,0001527665,This movie was in ENGLISH....it was a great su...,Great....,3.0
4,5,"07 15, 2012",A3M3HCZLXW0YLF,0001527665,"This is a fascinating true story, well acted b...","A remarkable true story, told in English (cont...",4.0

In [8]:
all_streams = df_all['movie_id'].unique().tolist()

In [9]:
all_streams = df_all['asin'].unique().tolist()
amvid_streams = df_amvid['asin'].unique().tolist()
prime_streams = df_prime['asin'].unique().tolist()

In [9]:
df_all_filt = df[df['asin'].isin(all_streams)]
df_all_filt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127467 entries, 3 to 181836
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   category     127467 non-null  object
 1   description  115349 non-null  object
 2   title        127434 non-null  object
 3   also_buy     127467 non-null  object
 4   brand        93872 non-null   object
 5   feature      127467 non-null  object
 6   rank         127467 non-null  object
 7   also_view    127467 non-null  object
 8   asin         127467 non-null  object
 9   details      127467 non-null  object
dtypes: object(10)
memory usage: 10.7+ MB

In [11]:
df_amvid_filt = df[df['asin'].isin(amvid_streams)]
df_amvid_filt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25762 entries, 13 to 170092
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category     25762 non-null  object
 1   description  23945 non-null  object
 2   title        25761 non-null  object
 3   also_buy     25762 non-null  object
 4   brand        22760 non-null  object
 5   feature      25762 non-null  object
 6   rank         25762 non-null  object
 7   also_view    25762 non-null  object
 8   asin         25762 non-null  object
 9   details      25762 non-null  object
dtypes: object(10)
memory usage: 2.2+ MB

In [12]:
df_prime_filt = df[df['asin'].isin(prime_streams)]
df_prime_filt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2374 entries, 3154 to 181832
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category     2374 non-null   object
 1   description  2260 non-null   object
 2   title        2374 non-null   object
 3   also_buy     2374 non-null   object
 4   brand        2076 non-null   object
 5   feature      2374 non-null   object
 6   rank         2374 non-null   object
 7   also_view    2374 non-null   object
 8   asin         2374 non-null   object
 9   details      2374 non-null   object
dtypes: object(10)
memory usage: 204.0+ KB

In [10]:
df_prime_filt.to_csv('./data/meta_streams.csv', encoding='utf-8', index=False)

In [14]:
df_test = pd.read_csv('./data/meta_streams.csv', converters={'category': eval, 'also_buy': eval, 'feature': eval,'also_view': eval, 'details': eval})
df_test.head()

,category,description,title,also_buy,brand,rank,also_view,asin,details
0,"[Movies & TV, Genre for Featured Categories, A...",Kids on an outing in the forest come up agains...,Bridge to Nowhere VHS,[],Matthew Hunter,"377,418 in Movies & TV (",[],6300133613,{}
1,"[Movies & TV, Genre for Featured Categories, C...","Alberto (Oscar Jaenada, Noviembre) and Susana ...",El Juego De La Verdad,[],Tristan Ulloa,"232,919 in Movies & TV (",[],B000G8NXOQ,"{'Language:': 'Spanish', 'Subtitles:': 'Englis..."
2,"[Movies & TV, Genre for Featured Categories, C...",A hard nosed FBI agent and her dim witted part...,Nosferatu's Crush,[],"Malissa Longo, John Gaydos, Lady Altovise, Ang...","308,791 in Movies & TV (","[B07FNRHK7M, B07GJNR9R6, B07JJ6HQ7Q, B07HGBTYH...",B000HEVATO,"{'Subtitles:': 'English', 'ASIN: ': 'B000HEVATO'}"
3,"[Movies & TV, Musicals & Performing Arts, Musi...",Competition is hot in the rodeo business as we...,Lights From Old Sante Fe 1944,[],Roy Rogers,"435,230 in Movies & TV (",[],B000W92BD8,{'ASIN: ': 'B000W92BD8'}
4,"[Movies & TV, Genre for Featured Categories, S...","VILLE DE QUEBEC On behalf of the French crown,...",Vista Point Town Of QUEBEC Canada,[],NaN,"515,573 in Movies & TV (",[],B000XJO1GM,"{'Language:': 'English', 'Subtitles:': 'Englis..."

In [16]:
df_test['category'].apply(type).unique()

array([<class 'list'>], dtype=object)

In [11]:
df_all_filt.to_csv('../data/meta_allvid.csv', encoding='utf-8', index=False)

In [14]:
df_test2 = pd.read_csv('./data/meta_allstreams.csv', converters={'category': eval, 'also_buy': eval, 'feature': eval,'also_view': eval, 'details': eval})
df_test2.head()

,category,description,title,also_buy,brand,feature,rank,also_view,asin,details
0,"[Movies & TV, Art House & International, By Or...",NaN,Peace Child VHS,[],NaN,[],"866,012 in Movies & TV (",[],0001527665,{}
1,"[Movies & TV, Christian Video, General]",An early movie edition of the life of Jesus.,Where Jesus Walked VHS,[],NaN,[],"1,108,385 in Movies & TV (",[],0005000009,{}
2,"[Movies & TV, Movies]","In Depression-era New England, a miserly busin...",An American Christmas Carol VHS,[],NaN,[],"704,028 in Movies & TV (",[],0005019281,{}
3,"[Movies & TV, Independently Distributed, Docum...",This documentary takes you on a journey...from...,A NATION ADRIFT A Chronicle of America's Prov...,[],Tom Kane,[],"496,880 in Movies & TV (",[],0005092663,{}
4,"[Movies & TV, Science Fiction & Fantasy, Scien...",This is The VHS Movie: SANTA CLAUS IS COMIN TO...,Santa Claus Is Comin' To Town VHS,"[B00005M2FD, 0307142469, 6304290888, 030714248...",Fred Astaire,[],"347,709 in Movies & TV (","[B0057FGCJQ, 0307142469, B00005M2FD, B00LEW3JN...",0307142493,{}

In [15]:
df_test2['feature'].apply(type).unique()

array([<class 'list'>], dtype=object)