In [3]:
import pandas as pd
import ast

In [5]:
df_reviews = pd.read_csv('./data/reviews.csv', encoding = 'utf-8')
df_reviews.head()

C:\Users\raxmo\AppData\Local\Temp\ipykernel_14940\2910817627.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_reviews = pd.read_csv('./data/reviews.csv', encoding = 'utf-8')

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"03 11, 2013",A3478QRKQDOPQ2,0001527665,{'Format:': ' VHS Tape'},jacki,really happy they got evangelised .. spoiler a...,great,1362960000,NaN,NaN
1,5,True,"02 18, 2013",A2VHSG6TZHU1OB,0001527665,{'Format:': ' Amazon Video'},Ken P,Having lived in West New Guinea (Papua) during...,Realistic and Accurate,1361145600,3,NaN
2,5,False,"01 17, 2013",A23EJWOW1TLENE,0001527665,{'Format:': ' Amazon Video'},Reina Berumen,Excellent look into contextualizing the Gospel...,Peace Child,1358380800,NaN,NaN
3,5,True,"01 10, 2013",A1KM9FNEJ8Q171,0001527665,{'Format:': ' Amazon Video'},N Coyle,"More than anything, I've been challenged to fi...",Culturally relevant ways to share the love of ...,1357776000,NaN,NaN
4,4,True,"12 26, 2012",A38LY2SSHVHRYB,0001527665,{'Format:': ' Amazon Video'},Jodie Vesely,This is a great movie for a missionary going i...,Good Movie! Great for cross-cultural missionar...,1356480000,NaN,NaN

In [6]:
#creating a copy so that I don't have to load the clunky csv every time
df = df_reviews.copy()

In [7]:
mask = df['style'].apply(lambda x: isinstance(x, str) and "{'Format:" in x)
df = df.loc[mask]


df['style'] = df['style'].apply(lambda x: ast.literal_eval(x))


df['style'] = df['style'].apply(lambda x: x['Format:'])


df['style'] = df['style'].astype(str)

df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"03 11, 2013",A3478QRKQDOPQ2,0001527665,VHS Tape,jacki,really happy they got evangelised .. spoiler a...,great,1362960000,NaN,NaN
1,5,True,"02 18, 2013",A2VHSG6TZHU1OB,0001527665,Amazon Video,Ken P,Having lived in West New Guinea (Papua) during...,Realistic and Accurate,1361145600,3,NaN
2,5,False,"01 17, 2013",A23EJWOW1TLENE,0001527665,Amazon Video,Reina Berumen,Excellent look into contextualizing the Gospel...,Peace Child,1358380800,NaN,NaN
3,5,True,"01 10, 2013",A1KM9FNEJ8Q171,0001527665,Amazon Video,N Coyle,"More than anything, I've been challenged to fi...",Culturally relevant ways to share the love of ...,1357776000,NaN,NaN
4,4,True,"12 26, 2012",A38LY2SSHVHRYB,0001527665,Amazon Video,Jodie Vesely,This is a great movie for a missionary going i...,Good Movie! Great for cross-cultural missionar...,1356480000,NaN,NaN

In [10]:
df_Amz = df.copy()

df_Amz = df_Amz[df_Amz['style'].str.contains('Amazon Video')]

df_Amz = df_Amz[df_Amz['verified'] == True]

df_Amz['vote'] = pd.to_numeric(df_Amz['vote'], errors='coerce').fillna(0)

In [11]:
df_Amz = df_Amz.drop(['image', 'verified', 'unixReviewTime', 'reviewerName', 'style'], axis=1)
df_Amz.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2558118 entries, 1 to 8699390
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   overall     int64
 1   reviewTime  object
 2   reviewerID  object
 3   asin        object
 4   reviewText  object
 5   summary     object
 6   vote        float64
dtypes: float64(1), int64(1), object(5)
memory usage: 156.1+ MB

In [12]:
df_Amz.to_csv('./data/reviews_amstream.csv', encoding='utf-8', index=False)

In [13]:
df = df[df['style'].str.contains('Amazon Video|Prime Video')]

df = df[df['verified'] == True]

df['vote'] = pd.to_numeric(df['vote'], errors='coerce').fillna(0)

In [14]:
df = df.drop(['image', 'verified', 'unixReviewTime', 'reviewerName', 'style'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3077240 entries, 1 to 8765523
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   overall     int64
 1   reviewTime  object
 2   reviewerID  object
 3   asin        object
 4   reviewText  object
 5   summary     object
 6   vote        float64
dtypes: float64(1), int64(1), object(5)
memory usage: 187.8+ MB

In [15]:
df.to_csv('./data/reviews_allstream.csv', encoding='utf-8', index=False)

In [16]:
data = pd.read_csv('./data/reviews_allstream.csv', encoding='utf-8')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3077240 entries, 0 to 3077239
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   overall     int64
 1   reviewTime  object
 2   reviewerID  object
 3   asin        object
 4   reviewText  object
 5   summary     object
 6   vote        float64
dtypes: float64(1), int64(1), object(5)
memory usage: 164.3+ MB