In [1]:
import pandas as pd
import numpy as np

In [21]:
df_read = pd.read_csv('./data/reviews_allstream.csv', encoding ='utf-8')
df_read.head()

,overall,verified,reviewTime,reviewerID,asin,reviewText,summary,vote
0,5,1,"02 18, 2013",A2VHSG6TZHU1OB,0001527665,Having lived in West New Guinea (Papua) during...,Realistic and Accurate,3.0
1,5,0,"01 17, 2013",A23EJWOW1TLENE,0001527665,Excellent look into contextualizing the Gospel...,Peace Child,0.0
2,5,1,"01 10, 2013",A1KM9FNEJ8Q171,0001527665,"More than anything, I've been challenged to fi...",Culturally relevant ways to share the love of ...,0.0
3,4,1,"12 26, 2012",A38LY2SSHVHRYB,0001527665,This is a great movie for a missionary going i...,Good Movie! Great for cross-cultural missionar...,0.0
4,5,1,"11 16, 2012",AHTYUW2H1276L,0001527665,This movie was in ENGLISH....it was a great su...,Great....,3.0

In [23]:
df_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722283 entries, 0 to 3722282
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   overall     int64
 1   verified    int64
 2   reviewTime  object
 3   reviewerID  object
 4   asin        object
 5   reviewText  object
 6   summary     object
 7   vote        float64
dtypes: float64(1), int64(2), object(5)
memory usage: 227.2+ MB

In [46]:
df = df_read.copy()

In [47]:
df = df[df['verified'] == True]
df.drop(columns=['verified', 'summary', 'vote', 'reviewTime'], axis=1, inplace=True)
df.dropna(subset=['reviewText'], inplace=True)
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3013831 entries, 0 to 3722280
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   overall     int64
 1   reviewerID  object
 2   asin        object
 3   reviewText  object
dtypes: int64(1), object(3)
memory usage: 115.0+ MB

In [50]:
df.to_csv('./data/review_all_clean.csv', encoding='utf-8', index=False)

_____

# Work that was don before finalizing cleaning shown below (for clarification later)

In [41]:
df['overall'].isnull().sum()

0

In [42]:
df['reviewText'].isnull().sum()

0

In [43]:
df['reviewerID'].isnull().sum()

0

In [44]:
df['asin'].isnull().sum()

0

In [9]:
df['reviewTime'] = pd.to_datetime(df['reviewTime'], format='%m %d, %Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722283 entries, 0 to 3722282
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   overall     int64
 1   verified    int64
 2   reviewTime  datetime64[ns]
 3   reviewerID  object
 4   asin        object
 5   reviewText  object
 6   summary     object
 7   vote        float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 227.2+ MB

In [11]:
df['reviewTime'].mean()

Timestamp('2015-08-14 03:55:06.060393472')

In [12]:
df['reviewTime'].median()

Timestamp('2015-10-07 00:00:00')

In [15]:
df['reviewTime'].min()

Timestamp('2000-04-02 00:00:00')

In [16]:
df['reviewTime'].max()

Timestamp('2018-10-01 00:00:00')

In [13]:
df['reviewTime'].max() - df['reviewTime'].min()

Timedelta('6756 days 00:00:00')

In [14]:
df['reviewTime'].std()

Timedelta('463 days 16:50:44.480618056')

In [ ]:
print(df['reviewTime'].mean()) #Timestamp('2015-08-14 03:55:06.060393472')
print(df['reviewTime'].median()) #Timestamp('2015-10-07 00:00:00')
print(df['reviewTime'].min()) #Timestamp('2000-04-02 00:00:00')
print(df['reviewTime'].max()) #Timestamp('2018-10-01 00:00:00')
print(df['reviewTime'].max() - df['reviewTime'].min()) #Timedelta('6756 days 00:00:00')
print(df['reviewTime'].std()) #Timedelta('463 days 16:50:44.480618056')

In [10]:
# find average date
average_date = df['reviewTime'].mean()

# find median date
median_date = df['reviewTime'].median()

# find range of dates
date_range = df['reviewTime'].max() - df['reviewTime'].min()

# find std of dates
date_std = df['reviewTime'].std()

,overall,verified,reviewTime,reviewerID,asin,reviewText,summary,vote
0,5,1,2013-02-18,A2VHSG6TZHU1OB,0001527665,Having lived in West New Guinea (Papua) during...,Realistic and Accurate,3.0
1,5,0,2013-01-17,A23EJWOW1TLENE,0001527665,Excellent look into contextualizing the Gospel...,Peace Child,0.0
2,5,1,2013-01-10,A1KM9FNEJ8Q171,0001527665,"More than anything, I've been challenged to fi...",Culturally relevant ways to share the love of ...,0.0
3,4,1,2012-12-26,A38LY2SSHVHRYB,0001527665,This is a great movie for a missionary going i...,Good Movie! Great for cross-cultural missionar...,0.0
4,5,1,2012-11-16,AHTYUW2H1276L,0001527665,This movie was in ENGLISH....it was a great su...,Great....,3.0

In [19]:
df['verified'].value_counts()

verified
1    3077240
0     645043
Name: count, dtype: int64

# Dropping vote, reviewTime, verified(False), summary, and vote, for using a collaborative filter approach for finding similar users. May want to look at reviewTime later to see if it adds significance via trends but for now, keeping it simple and 'assuming' that people will have similar tastes in movies across time.

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722283 entries, 0 to 3722282
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   overall     int64
 1   verified    int64
 2   reviewTime  datetime64[ns]
 3   reviewerID  object
 4   asin        object
 5   reviewText  object
 6   summary     object
 7   vote        float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 227.2+ MB

In [ ]:
df.drop(columns=[''])