In [1]:
import pandas as pd
import ast

In [2]:
df_reviews = pd.read_csv('../data/reviews.csv', encoding = 'utf-8')
df_reviews.info()

C:\Users\raxmo\AppData\Local\Temp\ipykernel_14784\3102319301.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_reviews = pd.read_csv('../data/reviews.csv', encoding = 'utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8765568 entries, 0 to 8765567
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   overall         int64
 1   verified        bool
 2   reviewTime      object
 3   reviewerID      object
 4   asin            object
 5   style           object
 6   reviewerName    object
 7   reviewText      object
 8   summary         object
 9   unixReviewTime  int64
 10  vote            object
 11  image           object
dtypes: bool(1), int64(2), object(9)
memory usage: 744.0+ MB

In [3]:
#creating a copy so that I don't have to load the clunky csv every time
df = df_reviews.copy()

In [5]:
rm_format = df['style'].apply(lambda x: isinstance(x, str) and "{'Format:" in x)
df = df.loc[rm_format]

df['style'] = df['style'].apply(lambda x: ast.literal_eval(x))
df['style'] = df['style'].apply(lambda x: x['Format:'])
df['style'] = df['style'].astype(str)

df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"03 11, 2013",A3478QRKQDOPQ2,0001527665,VHS Tape,jacki,really happy they got evangelised .. spoiler a...,great,1362960000,NaN,NaN
1,5,True,"02 18, 2013",A2VHSG6TZHU1OB,0001527665,Amazon Video,Ken P,Having lived in West New Guinea (Papua) during...,Realistic and Accurate,1361145600,3,NaN
2,5,False,"01 17, 2013",A23EJWOW1TLENE,0001527665,Amazon Video,Reina Berumen,Excellent look into contextualizing the Gospel...,Peace Child,1358380800,NaN,NaN
3,5,True,"01 10, 2013",A1KM9FNEJ8Q171,0001527665,Amazon Video,N Coyle,"More than anything, I've been challenged to fi...",Culturally relevant ways to share the love of ...,1357776000,NaN,NaN
4,4,True,"12 26, 2012",A38LY2SSHVHRYB,0001527665,Amazon Video,Jodie Vesely,This is a great movie for a missionary going i...,Good Movie! Great for cross-cultural missionar...,1356480000,NaN,NaN

In [8]:
df['asin'].nunique()

148398

In [7]:
df['style'].value_counts().head(10)

style
 DVD                   3711623
 Amazon Video          3171713
 Blu-ray                699645
 Prime Video            550570
 VHS Tape               162694
 HD DVD                   3824
 DVD-R                    3494
 Audio CD                 3095
 DVD-ROM                  1601
 Theatrical Release       1566
Name: count, dtype: int64

In [9]:
df_styles = df[df['style'].str.contains('DVD|Amazon Video|Prime Video|Blu-ray')]
df_styles['asin'].nunique()

138553

In [10]:
df_styles2 = df[df['style'].str.contains('Amazon Video|Prime Video')]
df_styles2['asin'].nunique()

29500

In [10]:
df_Amz = df.copy()

df_Amz = df_Amz[df_Amz['style'].str.contains('Amazon Video')]

df_Amz['verified'] = df_Amz['verified'].astype(int)

df_Amz['vote'] = pd.to_numeric(df_Amz['vote'], errors='coerce').fillna(0)

In [ ]:
df_Amz = df_Amz.drop(['image', 'unixReviewTime', 'reviewerName', 'style'], axis=1)
df_Amz.info()

In [12]:
df_Amz.to_csv('./data/reviews_amstream.csv', encoding='utf-8', index=False)

In [11]:
df = df[df['style'].str.contains('DVD|Amazon Video|Prime Video|Blu-ray')]

df = df[df['verified'] == True]

df['vote'] = pd.to_numeric(df['vote'], errors='coerce').fillna(0)

In [12]:
df = df.drop(['image', 'verified', 'reviewTime', 'reviewerName', 'style'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6389226 entries, 1 to 8765561
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   overall         int64
 1   reviewerID      object
 2   asin            object
 3   reviewText      object
 4   summary         object
 5   unixReviewTime  int64
 6   vote            float64
dtypes: float64(1), int64(2), object(4)
memory usage: 390.0+ MB

In [14]:
df.to_csv('../data/reviews_allvid.csv', encoding='utf-8', index=False)

In [16]:
data = pd.read_csv('./data/reviews_allstream.csv', encoding='utf-8')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3077240 entries, 0 to 3077239
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   overall     int64
 1   reviewTime  object
 2   reviewerID  object
 3   asin        object
 4   reviewText  object
 5   summary     object
 6   vote        float64
dtypes: float64(1), int64(1), object(5)
memory usage: 164.3+ MB